
.button {
    @include reset-box();
    @include reset-theme();

    display: inline-block;
    box-sizing: border-box;
    //@include auto-darken($button-color-text, $button-color-main, $button-color-border);
    background-color: $color-primary;
    @include theme-reverse($color-primary);
    padding: 0.5em 0.8em;
    min-width: 5 + 2 * 0.8em
}

.button-radius {
    border-radius: $global-border-radius;
}


.button-border {
    @include reset-theme();
    @extend .button;
    border: $border-size solid $color-primary;
    color: $color-primary;
}

.button-border--default {
    border-color: $color-gray-l;
    color: $global-color;
}

.button--noborder {
    @extend .button;
    border: 0;
}

.button--radius {
    @extend .button;
    @include border-radius(0.3em);
}

.button--radius__top {
    @extend .button;
    @include border-radius-direction("t");
}
.button--radius__bottom {
    @extend .button;
    @include border-radius-direction("b");
}
.button--radius__left {
    @extend .button;
    @include border-radius-direction("l");
}
.button--radius__right {
    @extend .button;
    @include border-radius-direction("r");
}

.button--circle {
    @extend .button;
    @include border-radius(50%);
}
.button--circle__30px {
    @extend .button--circle;
    @include size(30px);
    line-height: 30px;
}
.button--circle__60px {
    @extend .button--circle;
    @include size(60px);
    line-height: 60px;
}

.button--flat {
    @extend .button;
    color: inherit;
    background-color: transparent;
}

.button--sm {
    font-size: 0.8rem;
}

.button--lg {
    font-size: 1.5rem;
}

.button-block {
    @extend .button;
    @include size(100%);
    padding: 0.8rem;
}

.button-block-container {
    box-sizing: border-box;
    padding: 1rem;
}

.button--white {
    @include theme-reverse($color-white, $global-color);
}

.button--color2 {
    @include theme-reverse($color-secondary);
}

button[disabled] {
    &, &:hover, &:active {
        color: $color-gray-l;
        background-color: $color-gray-d;
        border-color: $color-gray-dd;
    }
}
