{% macro buttonBlockFill(content="", hook="", href="") %}
<div>
  {% if href %}
  <a href="{{href}}">
    <button type="button" class="button button-block button--white js-{{hook}}">
      {{content}}
    </button>
  </a>
  {% else %}
  <button type="button" class="button button-block button--white js-{{hook}}">
    {{content}}
  </button>
  {% endif %}
</div>
{% endmacro %}


{% macro buttonBlock(content="", hook="", thin=false, border=false, href="") %}
<div class="button-block-container {{"button-block-container--thin" if thin else ""}}">
  {% if href %}
  <a href="{{href}}" class="button button-block {{"button-block-border" if border else ""}} button-radius js-{{hook}}">
    {{content}}
  </a>
  {% else %}
  <button type="button" class="button button-block {{"button-block-border" if border else ""}} button-radius js-{{hook}}">
    {{content}}
  </button>
  {% endif %}
</div>
{% endmacro %}


{% macro buttonBorder(content="", hook="", isColor=false, link=false, href="") %}
{% if link %}
<a href="{{href}}" class="button button-border js-{{hook}} {{ '' if isColor else 'button-border--default'}}">
  {{content}}
</a>
{% else %}
<button type="button" class="button button-border js-{{hook}} {{ '' if isColor else 'button-border--default'}}">
  {{content}}
</button>
{% endif %}
{% endmacro %}
