.order-pin {
    margin-left: -1.6rem;
    .ic {
	display: inline-block;
	text-align: center;
	width: 1.2rem;
    }
}

.order-addr {
    margin-top: -1rem;
}

.order-pad {
    @include border-box-padding(0 1rem 0 2rem);
}

.order-item-pad {
    @include border-box-padding(1rem 0 0 0.5rem);
}

.order-header {
    @extend .list-pad-y-1;
    border-bottom: 1px solid $color-gray-ll;
}

.gray-line--3rem {
    display: inline-block;
    width: 3rem;
    border-bottom: 1px solid $color-gray-ll;
}
.no-block {
    margin-top: 5rem;
    text-align: center;
}
.icon-line {
    display: inline-block;
    @extend .row;
    margin: 1rem 0;
}
//.no-block-left-box, .no-block-right-box {
//    @extend .grid;
//    position: relative;
//    top: 0;
//}
.no-block-left, .no-block-right {
    @extend .grid;
    padding: 0 1rem;
    box-sizing: border-box;
    line-height: 3rem;
    vertical-align: middle;
}
.no-block-center {
    @extend .grid;
    font-size: 3rem;
    line-hright: 3rem;
    color: $color-gray-ll;
}
.no-block-text {
    color: $color-gray-l;
    margin: 1rem 0;
}
