{#

添加评论

#}


{% extends "templates/application.html" %}
{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_form.html" import areaLine, switch %}
{% from "ysd/_goods.html" import commentStar, commentUpload %}

{% block content %}
<main class="bottom-btn-pad">
  <div class="card">
    <div class="list-row list-pad-x-1">
      <section class="list-control row">
        <div class="grid width--3 list-pad-y-1">
	  <div class="card-photo">
	    <section class="photo">
	      <img width="64" src="/images/box-12.png" />
	    </section>
	  </div>
        </div>
        <div class="grid width--9 card-right row">
	  {{commentStar("商品质量", true)}}
	  {{commentStar("物流服务")}}
        </div>
      </section>
    </div>
  </div>

  <div class="card">
    {{areaLine(label="请写下您宝贵的产品使用建议", name="content")}}
  </div>

  <div class="list-pad-1">
    添加图片
    <span class="text-small text-gray">（您最多可以上传三张图片）</span>
  </div>

  <div class="list-pad-x-1 js-uploads">
    {{commentUpload("/images/box-2.png", name="box1", hook="box1")}}
    {{commentUpload("/images/box-2.png", name="box2", hook="box2")}}
    {{commentUpload("/images/box-2.png", name="box3", hook="box3")}}
    {{commentUpload(hook="new")}}
  </div>

  <div class="list-pad-1">
    {{switch("unname", "匿名评价")}}
  </div>

  <div class="bottom-btn">
    {{buttonBlock("提交", "ok")}}
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="jquery.min.js"></script>
<script src="star.js"></script>
<script src="area.js"></script>
<script src="switch.js"></script>
<script src="preview.js"></script>
<script src="comments-add.js"></script>
{% endblock %}
