{#

标准产品

#}


{% extends "templates/application.html" %}
{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import goods %}

{% block content %}
<main>
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}

    <section class="goods-shoppingcar">
      <a href="shoppingcar.html">
	<div class="trolley">
	  <div class="trolley__icon">
	    <span class="ion-md-cart ic--2x"></span>
	    <div class="trolley__count">24</div>
	  </div>
	</div>
      </a>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script src="jquery.min.js"></script>
<script src="goods.js"></script>
{% endblock %}
