{#

标准产品

#}


{% extends "templates/application.html" %}
{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import goods %}

{% block content %}
<main>
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}
    {{goods("一撕得7号箱", "110.00", "100", "0.01", "整箱发货", pic="../images/box-12.png")}}
</main>
{% endblock %}

{% block scripts %}
<script src="jquery.min.js"></script>
<script src="goods.js"></script>
{% endblock %}
