{% extends "templates/application.html" %}

{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import areaLine %}


{#

我的订单

#}

{% block content %}
<!-- Main -->
<main>
  <div class="card">

    <div class="list-row list-pad">
      <section class="list-control">
	<div class="row">

          <div class="grid width--3 card-left">
	    <div class="card-photo">
	      <section class="photo">
		<img width="64" src="/images/box-12.png" />
	      </section>
	    </div>
          </div>
          <div class="grid width--9 card-right row">
	    <section class="assess-row row">
	      <div class="grid">
		<div class="assess-label">
	          商品质量
		</div>
	      </div>
	      <div class="grid grid-last">
		<div class="star">
	          <span class="star--empty ion-md-star ic--1d5x"></span>
	          <span class="star--empty ion-md-star ic--1d5x"></span>
	          <span class="star--empty ion-md-star ic--1d5x"></span>
	          <span class="star--empty ion-md-star ic--1d5x"></span>
	          <span class="star--empty ion-md-star ic--1d5x"></span>
		</div>
	      </div>
	    </section>

	    <section class="assess-row row">
	      <div class="grid">
		<div class="assess-label">
	          物流服务
		</div>
	      </div>
	      <div class="grid grid-last">
		<div class="star">
	          <span class="star--fill ion-md-star ic--1d5x"></span>
	          <span class="star--fill ion-md-star ic--1d5x"></span>
	          <span class="star--fill ion-md-star ic--1d5x"></span>
	          <span class="star--fill ion-md-star ic--1d5x"></span>
	          <span class="star--fill ion-md-star ic--1d5x"></span>
		</div>
	      </div>
	    </section>
          </div>

	</div>
      </section>
    </div>

  </div>

  <div class="card">
    {{areaLine(label="请写下您宝贵的产品使用建议")}}
  </div>

  <div class="bottom-btn">
    {{buttonBlock("提交", "ok")}}
  </div>
</main>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}
