{% extends "templates/application.html" %}

{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import oneLineLink %}


{#

我的订单

#}

{% block content %}
<!-- Main -->
<main>
  <div class="card">
    <div class="upload">
      <img src="/images/upload.png" width="224" />
    </div>
  </div>

  <div class="card">
    <div class="list-row list-pad">
      <section class="list-control">
	<div class="two-line row">
          <div class="grid">
            <div class="muilt-line-title">
              一撕得<span class="text-primary">7号</span>箱
            </div>
            <small>
              <span>100</span>个/箱，<span>300</span>个起订
            </small>
          </div>
          <div class="grid grid-last">
            <div class="muilt-line-title text-primary">
              ￥100.00
            </div>
            <small>
              ￥<span>0.01</span>/个
            </small>
          </div>
	</div>
      </section>
    </div>

    <div class="list-row list-pad">
      <section class="list-control">
	<div class="two-line">
          <div class="muilt-line-title">
            logo颜色
          </div>
          <div class="label">黑色</div>
          <div class="label">红色</div>
	</div>
      </section>
    </div>

    <div class="list-row list-pad">
      <section class="list-control">
	<div class="two-line row">
          <div class="grid width--3">
            <div class="order-line-pad">
              数量选择
            </div>
          </div>
          <div class="grid width--5">
            <small class="order-line-pad">全国包邮，整箱发货</small>
          </div>
          <div class="grid grid-last">
            <div class="counter">
              <div class="label counter__label">
		<span class="ion-logo-github"></span>
              </div>
              <div class="label counter__num">
		1
              </div>
              <div class="label counter__label">
		<span class="ion-logo-github"></span>
              </div>
            </div>
          </div>
	</div>
      </section>
    </div>

    {{oneLineLink("评价", "#", comments="5624")}}

  </div>
  
  <footer>
    <div class="footer row">
      <div class="grid width--2 footer__block footer__block--left footer__icon">
	<span class="ion-logo-github ic--2x"></span>
      </div>
      <div class="grid width--2 footer__block footer__block--left footer__icon" style="border-left: 1px solid #ddd;">
	<span class="ion-logo-github ic--2x"></span>
      </div>
      <div class="grid width--4 footer__block footer__block--left footer__button" style="border-left: 1px solid #ddd;">
	<button type="button" class="button button-block button--white js-submit">
          加入购物车
	</button>
      </div>
      <div class="grid width--4 footer__block footer__block--right footer__button">
	<button type="button" class="button button-block js-submit">
          立即下单
	</button>
      </div>
    </div>
  </footer>
</main>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}
