///
/// Index.
///
/// @page
///

@import "scss_modules/config";

$global-font-size: 14px;
$color-primary: #15b4d0;
$color-secondary: #fe3333;

@import "scss_modules/public";
@import "button/index";
@import "label/index";
@import "field/index";
@import "avatar/index";
@import "icon/index";
@import "scss_modules/container";
@import "scss_modules/console";
@import "scss_modules/anim";
//@import "notify/index";
//@import "tips/index";
@import "owl.carousel.min";
@import "owl.theme.default.min";


@import "pay";
@import "counter";
@import "home";
@import "order";
@import "popup";

/// ion-ios-arrow-forward-outline
/// ion-ios-checkmark-circle
/// ion-ios-pin-outline
/// ion-ios-close
/// ion-md-help-circle
/// ion-ios-paper-outline
/// ion-md-star
/// ion-ios-remove-outline
/// ion-ios-add-outline
/// ion-ios-add
/// ion-md-create

// remove
.hide {
    display: none;
}


.bottom-btn {
    @include fill(b, true);
    z-index: 10;
    &-pad {
	padding-bottom: 4.5rem;
    }
}

$footer-height: 3rem;

.footer {
    @include fill(b, true);
    z-index: 10;
    height: $footer-height;

    &-pad {
	padding-bottom: $footer-height;
    }
}

.footer__icon {
    @include border-box-padding(0.5rem);
    position: relative;
    text-align: center;
}

.footer__text {
    @include border-box-padding(0.5rem 1rem);
    text-align: right;
}

.footer__button {
    @include border-box-padding(0.25rem);
}

.js-footer-del {
    background: $color-gray-l !important;
    .button {
	background: $color-gray-l;
    }
}

.js-footer-del.active {
    background: $color-secondary;
    button {
	background: $color-secondary;
    }
}

.footer__block {
    min-height: 3rem;
    &--right {
        background-color: $color-secondary;
    }
    &--left {
        background-color: $color-white;
    }
}

// remove
.list-container {
    background-color: $color-white;
}

.list-row {
    &:last-child {
	.list-control {
	    border: 0;
	}
    }
}

.list-control {
    border-bottom: 1px solid $color-gray-ll;
    &.nobd {
	border: 0;
    }
}

// remove
.list-pad {
    @include border-box-padding(0 1rem);
}

// remove
.one-line,
.two-line,
.area-line {
    @include border-box-padding(1rem 0);
}

.msg-code {
    @include fill(r);
    @include border-box-padding(1rem 0);
}

// remove
.muilt-line-title,
.area-line-title {
    margin-bottom: 1rem;
}

// remove
.two-line-ic {
    @include border-box-padding(1rem 0);
}


.card {
    @extend .list-mar-1;
    background-color: $color-white;
}

.text-center {
    text-align: center;
}

.muilt-line-block {
    display: inline-block;
}

.muilt-btn-group {
    text-align: right;
    .button {
	margin-left: 0.5rem;
    }
}

.img {
    width: 100%;
    height: auto;
}

// remove
.card-left {
    @include border-box-padding(1rem 0);
}


.card-right {
    @include border-box-padding(1rem 0 0 0.5rem);
}

// remove
.card-last {
    text-align: right;
}

.card-photo {
    text-align: center;
    .photo {
	margin-bottom: 0.5rem;
    }
}


.img-border {
    border: 1px solid $color-gray-ll;
}

// remove
.card-header {
    @include border-box-padding(0 1rem);
}

// remove
.card-footer {
    @include border-box-padding(0 1rem);
    text-align: right;
}

.card-middle {
    @include border-box-padding(0 0.5rem 0 0.5rem);
}

// remove


.order-footer {
    @include border-box-padding(1rem 0.5rem 1rem 0);
    border-top: 1px solid $color-gray-ll;
    &:last-child {
	border: 0;
	margin-top: -1rem;
    }
    .button {
	margin-left: 0.5rem;
    }
}


//remove
.checkbox,
.radio {
    input[type=checkbox],
    input[type=radio] {
	position: relative;
	top: 2px;
    }
}

.switch {
    @extend .relatived;
    @include border-box-padding(0.5rem 0 0.5rem 2rem);
    
    input[type=checkbox],
    input[type=radio] {
	display: none;
    }
    &__control {
	@include fill(l);
	@include size(2rem);
	//@include border-box-padding(0.25rem 0);
	text-align: center;
    }
}

.order-price {
    @include border-box-padding(0.25rem 0);
}

.order-radio {
    @include border-box-padding(1rem 0);
}

.comment-img {
    display: inline-block;
}

.comment-upload {
    @include theme-reverse($color-white, $color-gray-ll)
    @include size(4rem);
    
    margin-right: 1rem;
    border: 1px dotted $color-gray-ll;
    vertical-align: bottom;
    text-align: center;
    position: relative;

    display: none;

    &.active {
	display: inline-block;
    }

    .ic {
	line-height: 1.1;
    }

    .trolley__count {
	@include theme-reverse($color-secondary);
	@include size(1.2rem);
	@include border-box-padding(0.25rem 0);
	top: -0.5rem;
	right: -0.5rem;
    }
}

.star {
    display: inline-block;
    &--empty {
	color: $color-gray;
    }
    &--fill {
	color: $color-primary;
    }
}

.upload {
    text-align: center;
}

.good-color-label {
    margin-right: 1rem;
}



.order-line-pad {
    @include border-box-padding(0.5rem 0);
}

.list-pad-y-0d5 {
    @include border-box-padding(0.5rem 0);
}

.list-pad-y-1 {
    @include border-box-padding(1rem 0);
}

.list-pad-y-0d25 {
    @include border-box-padding(0.25rem 0);
}

.list-pad-x-1 {
    @include border-box-padding(0 1rem);
}

.list-pad-x-2 {
    @include border-box-padding(0 2rem);
}

.list-pad-x-1d5 {
    @include border-box-padding(0 1.5rem);
}

.list-pad-0d5 {
    @include border-box-padding(0.5rem);
}

.list-pad-1 {
    @include border-box-padding(1rem);
}

.list-pad-y-2 {
    @include border-box-padding(2rem 0);
}


.list-pad-y-2d5 {
    @include border-box-padding(2.5rem 0);
}

.list-pad-l-2 {
    @include border-box-padding(0 0 0 2rem);
}

.list-mar-1 {
    margin-bottom: 1rem;
}

.list-mar-0d5 {
    margin-bottom: 0.5rem;
}


.field-basic {
    @include reset-box();
    @include reset-theme();
    @include reset-font();

    width: 100%;
    border: 1px solid $color-gray-ll;
    padding: 0.3rem 0.5rem;
}

.relatived {
    position: relative;
}

.trolley {
    @include fill(br);
    @include size(3.5rem);
    z-index: 10;
    bottom: -1.375rem;
    right: 1rem;
}

.trolley-inline {
    position: relative;

    .trolley__count {
	@include size(1.2rem);
	@include border-box-padding(0.25rem 0);
    }
}


.trolley__icon {
    @include size(3.5rem);
    @include theme-reverse(rgba($color-black, $alpha));
    @include border-box-padding(0.925rem 0);
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.trolley__count {
    @include fill(tr);
    @include size(1.5rem);
    @include border-box-padding(0.35rem 0);
    @include theme-reverse($color-error);
    font-size: $font-size-sm;
    text-align: center;
    border-radius: 50%;
    .trolley-inline & {
	top: -0.25rem;
	right: -0.25rem;
    }
}


.hr {
    text-align: center;
    position: relative;
    margin: 1rem;
    
    &__content {
	display: inline-block;
	padding: 1rem;
	background: $global-bgColor;
	position: relative;
	z-index: 1;
	font-size: $font-size-sm;
    }

    &:after {
	content: ' ';
	display: inline-block;
	@include fill(x);
	top: 50%;
	height: 1px;
	background: $color-gray-l;
    }
}


.tab {
    font-size: $font-size-sm;
    background: $color-white;
    border-bottom: 1px solid $color-gray-ll;
    height: 3rem;

    &-pad {
	padding-top: 4rem;
    }

    .trolley__count {
	@include theme-reverse($color-white, $color-primary);
	@include size(1.2rem);
	@include border-box-padding(0.25rem 0);
	top: 0.25rem;
	right: 0.25rem;
	border: 1px solid $color-primary;
    }
}

.tab__title {
    @include border-box-padding(1rem 0);
    position: relative;
    text-align: center;
    
    &.active {
	color: $color-primary;
    }
}

.tab__content {
    display: none;
    &.active {
	display: block;
    }
}

.order-detail-footer {
    background: $color-white;
    text-align: right;
    height: 3rem;
    @include border-box-padding(0.6rem 1rem);
    border-top: 1px solid $color-gray-ll;
    
    .button {
	margin-left: 0.5rem;
    }
}

.image-box {
    position: relative;
    top: 0;
}

.img-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    //font-weight: bold;
    line-height: 1rem;
}

.delivery-item {
    position: relative; top: 0;
    color: gray;
    &:first-child {
        z-index: 1;        
        span {
            @extend .text-primary;
        }
    }
    
    $bar-width: 2px;
    $bar-width-05: $bar-width / 2;

    &:first-child .delivery-ion{
        width: 0px;
        &:after{
            $ion-size: 1rem;
            $ion-size-05: $ion-size / 2;
            transform: translate3d(-6px, $ion-size-05, 0);
            
            @include size($ion-size);
            border: 0.15rem solid rgba($color-primary, $alpha-ll);
            background: $color-primary;
        }
    }
    .delivery-ion {
        position: absolute;
        left: -1rem;
        top: 0;
        bottom: 0;
        width: $bar-width;
        transform: translate3d(#{- $bar-width / 2}, -50%, 0);
        background: $color-gray-ll;
        &:after {
            $ion-size: 0.6rem;
            $ion-size-05: $ion-size / 2;
            content: "";
            display: inline-block;
            left: 0;
            bottom: 0;
            
            position: absolute;
            transform: translate3d(-4px, $ion-size-05, 0);
            
            @include size($ion-size);
            box-sizing: border-box;
            
            border-radius: 50%;
            border: none;
            background: $color-gray-ll;
        }
    }
}


.img-res {
    @include size(auto);
    max-width: 100%;
    max-height: 100%;
}

.main-box {
    position: fixed;
    margin: 1.5rem 1.5rem;
    border: 2px solid gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: white;
}

.close-btn {
    margin: 0.5rem;
}

.main-box-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    .big--015e1 {
        font-size: 1.5rem;
    }
}

.btn-append-shoppingcar {
    margin: 1rem auto;
    @extend .width--8;
    line-height: 3em;
}

.goods-upload {
    text-align: center;
    //@include size(224px);
    height: 224px;
}

.goods-modal-bg {
    @include fill(a, true);
    z-index: 1;
    display: none;
    background-color: rgba($color-black, $alpha);
}

.goods-detail {
    position: relative;
}

.goods-photo {
    height: 9rem;
    img {
        width: 100%;
    }
}

.goods-modal {
    @include fill(tr);
    top: 1rem;
    z-index: 2;
    @include size(10rem, 12rem);
    background: $color-white;
    display: none;
}
