{% extends "templates/application.html" %}

{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}

{% block scripts %}
<script src="index.js"></script>
{% endblock %}


{% block content %}

{% from "ysd/_button.html" import
buttonBlockFill,
buttonBlock,
buttonBorder
%}

{% from "ysd/_list-row.html" import
field,
area,
oneLine,
oneLineLink,
fieldMsgCode,
twoLineLink,
areaLine,
goods,
goodsBox,
order
%}



<!-- Main -->
<main>

</main>

{#
{{buttonBlockFill("退出登录", "quit")}}
{{buttonBlock("确定", "ok")}}
{{buttonBorder("立即下单", "submit", true)}}
{{buttonBorder("加入购物车", "add")}}
#}

{#
<footer>



  <div class="footer row">
    <div class="grid width--8 footer__block footer__block--left footer__text">
      运费<span>20</span>元,合计<span class="text-primary">￥</span><span class="text-primary js-price">660.00</span>
    </div>
    <div class="grid width--4 footer__block footer__block--right footer__button">
      <button type="button" class="button button-block js-submit">
        结算
      </button>
    </div>
  </div>

</footer>
#}


<section class="list-container">


  {# 注册 #}
  {#
  {{fieldMsgCode("手机号码")}}
  {{field("短信验证码")}}
  {{field("企业或品牌企业")}}
  #}


  {# 评价 意见反馈 #}
  {#
  {{areaLine(label="请写下您宝贵的产品使用建议")}}
  #}


</section>







{#
{{goods("一撕得7号箱", "110.00", "100", "0.01", "全国包邮，整箱发货", pic="/images/box-12.png")}}
{{order("标准产品", "666666")}}
{{order("标准产品", "666666", "2016-03-20 10:10", "2")}}
{{goodsBox("一撕得7号箱", "0.01", "全国包邮，整箱发货", "299个起订，每箱100个", pic="/images/box-12.png")}}
{{order("标准产品", "666666", name="all1", radio=true)}}
#}

{% endblock %}
