///
/// Index.
///
/// @page
///

@import "scss_modules/config";

$global-font-size: 14px;
$color-primary: #15b4d0;
$color-secondary: #fe3333;

@import "scss_modules/public";
@import "button/index";
@import "breadcrumb/index";
@import "label/index";
@import "field/index";
@import "avatar/index";
@import "icon/index";
@import "scss_modules/container";
@import "scss_modules/console";
@import "scss_modules/anim";
//@import "notify/index";
//@import "tips/index";



@import "home";

.hide {
    display: none;
}


.bottom-btn {
    @include fill(b);
}

$footer-height: 3rem;

.footer {
    @include fill(b, true);
    height: $footer-height;

    &-pad {
	padding-bottom: $footer-height;
    }
}

.footer__icon {
    @include border-box-padding(0.5rem);
    position: relative;
    text-align: center;
}

.footer__text {
    @include border-box-padding(0.5rem 1rem);
    text-align: right;
}

.footer__button {
    @include border-box-padding(0.25rem);
}

.js-footer-del {
    background: $color-gray-l !important;
    .button {
	background: $color-gray-l;
    }
}

.js-footer-del.active {
    background: $color-secondary;
    button {
	background: $color-secondary;
    }
}

.footer__block {
    min-height: 3rem;
    &--right {
        background-color: $color-secondary;
    }
    &--left {
        background-color: $color-white;
    }
}

.list-container {
    background-color: $color-white;
}

.list-row {
    &:last-child {
	.list-control {
	    border: 0;
	}
    }
}

.list-control {
    border-bottom: 1px solid $color-gray-ll;
}

.list-pad {
    @include border-box-padding(0 1rem);
}


.one-line,
.two-line,
.area-line {
    @include border-box-padding(1rem 0);
}

.msg-code {
    @include fill(r);
    @include border-box-padding(1rem 0);
}

.muilt-line-title,
.area-line-title,
.card {
    margin-bottom: 1rem;
}

.two-line-ic {
    @include border-box-padding(1rem 0);
}

.card {
    background-color: $color-white;
}

.text-center {
    text-align: center;
}

.muilt-line-block {
    display: inline-block;
}

.muilt-btn-group {
    text-align: right;
    .button {
	margin-left: 0.5rem;
    }
}

.img {
    width: 100%;
    height: auto;
}

.card-left {
    @include border-box-padding(1rem 0);
}

.card-right {
    @include border-box-padding(1rem 0 0 0.5rem);
}

.card-last {
    text-align: right;
}

.card-photo {
    text-align: center;
    .photo {
	margin-bottom: 0.5rem;
    }
}


.img-border {
    border: 1px solid $color-gray-ll;
}

.card-header {
    @include border-box-padding(0 1rem);
}

.card-footer {
    @include border-box-padding(0 1rem);
    text-align: right;
}

.card-middle {
    @include border-box-padding(0 0.5rem 0 1rem);
}

.order-header {
    @include border-box-padding(1rem 0);
    border-bottom: 1px solid $color-gray-ll;
}

.order-footer {
    @include border-box-padding(1rem 0.5rem 1rem 0);
    border-top: 1px solid $color-gray-ll;
    &:last-child {
	border: 0;
	margin-top: -1rem;
    }
    .button {
	margin-left: 0.5rem;
    }
}

.checkbox,
.radio {
    input[type=checkbox],
    input[type=radio] {
	position: relative;
	top: 2px;
    }
}

.order-price {
    @include border-box-padding(0.25rem 0);
}

.order-radio {
    @include border-box-padding(1rem 0);
}

.comment-img {
    display: inline-block;
}

.star {
    display: inline-block;
    &--empty {
	color: $color-gray;
    }
    &--fill {
	color: $color-primary;
    }
}

.assess-label {
    @include border-box-padding(0.25rem 0);
}

.assess-row {
    margin-bottom: 0.5rem;
}


.upload {
    text-align: center;
}

.good-color-label {
    margin-right: 1rem;
}

.label {
    background: $color-gray-ll;
    @include border-box-padding(0.5rem 0.8rem);
    border-radius: $global-border-radius;

    &.active {
	@include theme-reverse($color-gray-d);
    }
}

.counter {
    
    &__label,
    &__num {
        @include border-box-padding(0.3rem 0.5rem);
    }

    &__num {
        @include reset-theme();
    }

    &__field {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	min-width: 1rem;
	width: 1rem;
	padding: 0;
	text-align: center;
    }
}

.order-line-pad {
    @include border-box-padding(0.5rem 0);
}

.list-pad-y-0d5 {
    @include border-box-padding(0.5rem 0);
}

.list-pad-y-1 {
    @include border-box-padding(1rem 0);
}

.list-pad-y-0d25 {
    @include border-box-padding(0.25rem 0);
}

.list-pad-0d5 {
    @include border-box-padding(0.5rem);
}

.list-pad-1 {
    @include border-box-padding(1rem);
}

.list-pad-y-2 {
    @include border-box-padding(2rem 0);
}


.list-pad-y-2d5 {
    @include border-box-padding(2.5rem 0);
}

.list-mar-0d5 {
    margin-bottom: 0.5rem;
}


.field-basic {
    @include reset-box();
    @include reset-theme();
    @include reset-font();

    width: 100%;
    border: 1px solid $color-gray-ll;
    padding: 0.3rem 0.5rem;
}

.relatived {
    position: relative;
}

.carousel {

}

.trolley {
    @include fill(br);
    @include size(3.5rem);
    bottom: -1.375rem;
    right: 1rem;
}

.trolley-inline {
    position: relative;

    .trolley__count {
	@include size(1.2rem);
	@include border-box-padding(0.25rem 0);
    }
}


.trolley__icon {
    @include size(3.5rem);
    @include theme-reverse(rgba($color-black, $alpha));
    @include border-box-padding(0.925rem 0);
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.trolley__count {
    @include fill(tr);
    @include size(1.5rem);
    @include border-box-padding(0.35rem 0);
    @include theme-reverse($color-error);
    font-size: $font-size-sm;
    text-align: center;
    border-radius: 50%;
    .trolley-inline & {
	top: -0.25rem;
	right: -0.25rem;
    }
}


.hr {
    text-align: center;
    position: relative;
    margin: 1rem;
    
    &__content {
	display: inline-block;
	padding: 1rem;
	background: $global-bgColor;
	position: relative;
	z-index: 1;
	font-size: $font-size-sm;
    }

    &:after {
	content: ' ';
	display: inline-block;
	@include fill(x);
	top: 50%;
	height: 1px;
	background: $color-gray-l;
    }
}
