///
/// Index.
///
/// @page
///

@import "scss_modules/config";

$global-font-size: 14px;
$color-primary: #15b4d0;

@import "scss_modules/public";
@import "button/index";
@import "breadcrumb/index";
@import "label/index";
@import "field/index";
@import "avatar/index";
@import "icon/index";
@import "scss_modules/container";
@import "scss_modules/console";
@import "scss_modules/anim";
//@import "notify/index";
//@import "tips/index";

.hide {
    display: none;
}


.topbar {
    box-sizing: border-box;
    min-height: 3rem;
    border-bottom: 1px solid $color-gray-ll;
    position: relative;
    background-color: $color-white;
    

    &__btn {
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	color: $color-gray;
	
	&--left {
	    @include fill(l)
	}
	&--right {
	    @include fill(r)
	}
    }

    &-title {
	padding: 1rem;
	text-align: center;
    }
}

.sidebar {
    @include fill();
    z-index: 90;
}

.sidebar__bg {
    @include fill();
    z-index: 1;
    background: rgba($color-black, $alpha-l)
}

.sidebar__main {
    @include fill(l);
    background: $color-white;
    padding: 3rem 0;
    min-width: 65%;
    z-index: 2;
}

.nav__item {
    box-sizing: border-box;
    padding: 0.8rem 1.5rem;
}

.menu {
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 3.5rem;
    position: relative;

    .ic {
	box-sizing: border-box;
	@include size(2.5rem);
	@include theme-reverse($color-primary, $color-white);
	display: inline-block;
	padding: 0.25rem;
	text-align: center;
	border-radius: $global-border-radius;
    }

    &__icon {
	@include fill(l);
    }
}

.footer {
    @include fill(b);
    max-height: 3rem;
}

.footer__icon {
    @include border-box-padding(0.5rem);
    position: relative;
    text-align: center;
}

.footer__text {
    @include border-box-padding(1rem);
    text-align: right;
}

.footer__button {
    @include border-box-padding(0.25rem);
}

.footer__block {
    min-height: 3rem;
    &--right {
        background-color: $color-primary;
    }
    &--left {
        background-color: $color-white;
    }
}

.list-container {
    background-color: $color-white;
}

.list-row {
    &:last-child {
	.list-control {
	    border: 0;
	}
    }
}

.list-control {
    border-bottom: 1px solid $color-gray-ll;
}

.list-pad {
    @include border-box-padding(0 1rem);
}


.one-line,
.two-line,
.area-line {
    @include border-box-padding(1rem 0);
}

.msg-code {
    @include fill(r);
    @include border-box-padding(1rem 0);
}

.muilt-line-title,
.area-line-title,
.card {
    margin-bottom: 1rem;
}

.two-line-ic {
    @include border-box-padding(1rem 0);
}

.card {
    background-color: $color-white;
}

.text-center {
    text-align: center;
}

.muilt-line-block {
    display: inline-block;
}

.muilt-btn-group {
    text-align: right;
    .button {
	margin-left: 0.5rem;
    }
}

.img {
    width: 100%;
    height: auto;
}

.card-left {
    @include border-box-padding(1rem 0);
}

.card-right {
    @include border-box-padding(1rem 0 0 0.5rem);
}

.card-last {
    text-align: right;
}

.card-photo {
    text-align: center;
    .photo {
	margin-bottom: 0.5rem;
    }
}


.img-border {
    border: 1px solid $color-gray-ll;
}

.card-header {
    @include border-box-padding(0 1rem);
}

.card-footer {
    @include border-box-padding(0 1rem);
    text-align: right;
}

.card-middle {
    @include border-box-padding(0 0.5rem 0 1rem);
}

.order-header {
    @include border-box-padding(1rem 0);
    border-bottom: 1px solid $color-gray-ll;
}

.order-footer {
    @include border-box-padding(1rem 0.5rem 1rem 0);
    border-top: 1px solid $color-gray-ll;
    &:last-child {
	border: 0;
	margin-top: -1rem;
    }
    .button {
	margin-left: 0.5rem;
    }
}

.checkbox,
.radio {
    input[type=checkbox],
    input[type=radio] {
	position: relative;
	top: 2px;
    }
}

.order-price {
    @include border-box-padding(0.25rem 0);
}

.order-radio {
    @include border-box-padding(1rem 0);
}

.comment-img {
    display: inline-block;
}

.star {
    display: inline-block;
    &--empty {
	color: $color-gray;
    }
    &--fill {
	color: $color-primary;
    }
}

.assess-label {
    @include border-box-padding(0.25rem 0);
}

.assess-row {
    margin-bottom: 0.5rem;
}
