{% extends "templates/application.html" %}

{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}

{% block scripts %}
<script src="/commons.js"></script>
<script src="index.js"></script>
{% endblock %}


{% block content %}


<header>
  <div class="topbar">
    <section class="topbar__btn topbar__btn--left">
      <span class="ion-logo-github ic--2x"></span>
    </section>
    <section class="topbar__btn topbar__btn--right">
      <span class="ion-logo-github ic--2x"></span>
    </section>
    <section class="topbar-title">首页</section>
  </div>
</header>

<aside>
  
  <div class="sidebar">
    <section class="sidebar__bg"></section>
    <section class="sidebar__main">
      <nav class="nav"><ul>
	  <li class="nav__item">
	    <a href="#">
	      <section class="menu">
		<div class="menu__icon">
		  <div class="ic">
		    <span class="ic--2x ion-logo-github"></span>
		  </div>
		</div>
		个人信息
	      </section>
	    </a>
	  </li>

	  <li class="nav__item">
	    <a href="#">
	      <section class="menu">
		<div class="menu__icon">
		  <div class="ic">
		    <span class="ic--2x ion-logo-github"></span>
		  </div>
		</div>
		个人信息
	      </section>
	    </a>
	  </li>

	  <li class="nav__item">
	    <a href="#">
	      <section class="menu">
		<div class="menu__icon">
		  <div class="ic">
		    <span class="ic--2x ion-logo-github"></span>
		  </div>
		</div>
		个人信息
	      </section>
	    </a>
	  </li>

	  <li class="nav__item">
	    <a href="#">
	      <section class="menu">
		<div class="menu__icon">
		  <div class="ic">
		    <span class="ic--2x ion-logo-github"></span>
		  </div>
		</div>
		个人信息
	      </section>
	    </a>
	  </li>
      </ul></nav>
    </section>
  </div>
</aside>

<!-- Main -->
<main>

</main>


{% endblock %}
