{% extends "templates/application.html" %}

{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}

{% block scripts %}
<script src="/commons.js"></script>
<script src="index.js"></script>
{% endblock %}


{% block content %}

{% from "ysd/_button.html" import
buttonBlockFill,
buttonBlock,
buttonBorder
%}

{% from "ysd/_list-row.html" import
field,
area,
oneLine,
oneLineLink,
fieldMsgCode,
twoLineLink,
areaLine,
goods,
goodsBox,
order,
comment,
addrLink
%}

{% include "ysd/_topbar.html"%}
{% include "ysd/_sidebar.html"%}

<!-- Main -->
<main>

</main>

{#
{{buttonBlockFill("退出登录", "quit")}}
{{buttonBlock("确定", "ok")}}
{{buttonBorder("立即下单", "submit", true)}}
{{buttonBorder("加入购物车", "add")}}
#}

{#
<footer>
    <div class="footer row">
        <div class="grid width--2 footer__block footer__block--left footer__icon">
            <span class="ion-logo-github ic--2x"></span>
        </div>
        <div class="grid width--10 footer__block footer__block--right footer__button">
            <button type="button" class="button button-block js-submit">
                去购物车结算
            </button>
        </div>
    </div>

    <div class="footer row">
        <div class="grid width--2 footer__block footer__block--left footer__icon">
            <span class="ion-logo-github ic--2x"></span>
        </div>
        <div class="grid width--6 footer__block footer__block--left footer__text">
            合计:<span class="text-primary">￥</span><span class="text-primary js-price">660.00</span>
        </div>
        <div class="grid width--4 footer__block footer__block--right footer__button">
            <button type="button" class="button button-block js-submit">
                结算
            </button>
        </div>
    </div>

    <div class="footer row">
        <div class="grid width--8 footer__block footer__block--left footer__text">
            运费<span>20</span>元,合计<span class="text-primary">￥</span><span class="text-primary js-price">660.00</span>
        </div>
        <div class="grid width--4 footer__block footer__block--right footer__button">
            <button type="button" class="button button-block js-submit">
                结算
            </button>
        </div>
    </div>


    <div class="footer row">
        <div class="grid width--2 footer__block footer__block--left footer__icon">
            <span class="ion-logo-github ic--2x"></span>
        </div>
        <div class="grid width--2 footer__block footer__block--left footer__icon" style="border-left: 1px solid #ddd;">
            <span class="ion-logo-github ic--2x"></span>
        </div>
        <div class="grid width--4 footer__block footer__block--left footer__button" style="border-left: 1px solid #ddd;">
            <button type="button" class="button button-block button--white js-submit">
                加入购物车
            </button>
        </div>
        <div class="grid width--4 footer__block footer__block--right footer__button">
            <button type="button" class="button button-block js-submit">
                立即下单
            </button>
        </div>
    </div>
</footer>
#}


<section class="list-container">
    {# 新增地址 #}
    {#
    {{field("收货人姓名")}}
    {{field("联系电话")}}
    {{field("省、市、区")}}
    {{area("详细地址")}}
    #}

    {# 修改密码 #}
    {#
    {{field("原始密码", type="password")}}
    {{field("密码", type="password")}}
    {{field("确认密码", type="password")}}
    #}

    {# 个人信息 #}
    {#
    {{oneLine("手机", "15525019350")}}
    {{oneLine("企业名称", "北京一撕得物流技术")}}
    {{oneLine("手机", "修改", "#")}}
    #}

    {# 设置 #}
    {#
    {{oneLineLink("关于我们", "#")}}
    {{oneLineLink("服务协议", "#")}}
    {{oneLine("客服电话", "4008-000-000", "tel:4008-000-000")}}
    #}

    {# 注册 #}
    {#
    {{fieldMsgCode("手机号码")}}
    {{field("短信验证码")}}
    {{field("企业或品牌企业")}}
    #}

    {# 配送地址 #}
    {#
    {{twoLineLink("北京市丰台星火路11号写字公园2018", "刘易斯 15525019350", "#")}}
    #}

    {# 评价 意见反馈 #}
    {#
    {{areaLine(label="请写下您宝贵的产品使用建议")}}
    #}

    {# 评价列表 #}
    {#
    {{comment("155****9350", "真的特别好，我的网店用了这个箱子，逼格瞬间提高。用户好评跃升！", "2016.03.16", pics="1")}}
    {{comment("155****9350", "真的特别好，我的网店用了这个箱子，逼格瞬间提高。用户好评跃升！", "2016.03.16")}}
    #}

    <div class="card">
        <div class="carousel">
            <img src="/images/carousel.png" width="320" />
        </div>
        <div class="place-holder-line">
            <div class="trolley">
                <div class="trolley__icon">
                    <img src="/images/photo.jpg" width="40" />
                </div>
                <div class="trolley__count">
                    24
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="suggest-items">
            <div class="grid width--4 suggest__item">
                <img src="/images/box-1-2x.png" />
                <div class="suggest__item__name">标准箱</div>
            </div>
            <div class="grid width--4 suggest__item">
                <img src="/images/box-2-2x.png" />
                <div class="suggest__item__name">一撕得</div>
            </div>
            <div class="grid width--4 suggest__item">
                <img src="/images/box-3-2x.png" />
                <div class="suggest__item__name">定制箱</div>
            </div>
        </div>
    </div>
</section>


<div class="card">
    <div class="upload">
        <img src="/images/upload.png" width="224" />
    </div>
</div>

<div class="card">
    <div class="list-row list-pad">
        <section class="list-control">
            <div class="two-line row">
                <div class="grid">
                    <div class="muilt-line-title">
                        一撕得<span class="text-primary">7号</span>箱
                    </div>
                    <small>
                        <span>100</span>个/箱，<span>300</span>个起订
                    </small>
                </div>
                <div class="grid grid-last">
                    <div class="muilt-line-title text-primary">
                        ￥100.00
                    </div>
                    <small>
                        ￥<span>0.01</span>/个
                    </small>
                </div>
            </div>
        </section>
    </div>

    <div class="list-row list-pad">
        <section class="list-control">
            <div class="two-line">
                <div class="muilt-line-title">
                    logo颜色
                </div>
                <div class="label">黑色</div>
                <div class="label">红色</div>
            </div>
        </section>
    </div>

    <div class="list-row list-pad">
        <section class="list-control">
            <div class="two-line row">
                <div class="grid width--3">
                    <div class="order-line-pad">
                        数量选择
                    </div>
                </div>
                <div class="grid width--5">
                    <small class="order-line-pad">全国包邮，整箱发货</small>
                </div>
                <div class="grid grid-last">
                    <div class="counter">
                        <div class="label counter__label">
                            <span class="ion-logo-github"></span>
                        </div>
                        <div class="label counter__num">
                            1
                        </div>
                        <div class="label counter__label">
                            <span class="ion-logo-github"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {{oneLineLink("评价", "#", comments="5624")}}

</div>


<div class="card">
    {{addrLink("刘易斯 15525019350", "北京市丰台星火路11号写字公园2018", "#")}}
</div>

<div class="card">
    <div class="list-row list-pad">
        <section class="list-control">
            <div class="one-line row">
                <div class="grid">
                    附带发票
                </div>
                <div class="grid grid-last">
                    <label for="{{name}}" class="radio">
	                      <input name="{{name}}" id="{{name}}" type="checkbox" value=""/>
	                      <span class="">{{label}}</span>
                    </label>
                </div>
            </div>
        </section>
    </div>
    <div class="list-row list-pad">
        <section class="list-control">
            <div class="one-line row">
                <div class="grid">
                    个人
                </div>
                <div class="grid grid-last">
                    <label for="{{name}}" class="radio">
	                      <input name="{{name}}" id="{{name}}" type="checkbox" value=""/>
	                      <span class="">{{label}}</span>
                    </label>
                </div>
            </div>
        </section>
    </div>
    <div class="list-row list-pad">
        <section class="list-control">
            <div class="one-line row">
                <div class="grid width--2 list-pad-y-0d25">
                    公司
                </div>
                <div class="grid width--6">
                    <input name="" class="field-basic" type="text" value="" />
                </div>
                <div class="grid grid-last list-pad-y-0d25">
                    <label for="{{name}}" class="radio">
	                      <input name="{{name}}" id="{{name}}" type="checkbox" value=""/>
	                      <span class="">{{label}}</span>
                    </label>
                </div>
            </div>
        </section>
    </div>
</div>



{#
{{goods("一撕得7号箱", "110.00", "100", "0.01", "全国包邮，整箱发货", pic="/images/box-12.png")}}
{{order("标准产品", "666666")}}
{{order("标准产品", "666666", "2016-03-20 10:10", "2")}}
{{goodsBox("一撕得7号箱", "0.01", "全国包邮，整箱发货", "299个起订，每箱100个", pic="/images/box-12.png")}}
{{order("标准产品", "666666", name="all1", radio=true)}}
#}

{% endblock %}
