{#

我的订单

#}


{% extends "templates/application.html" %}
{% from "ysd/_order.html" import
icon, noBlock
%}
{% from "ysd/_button.html" import buttonBorder %}
{% from "ysd/_popup.html" import popupSmall %}


{% block content %}

<main class="tab-pad js-tab">
  <div class="topbar">
    <section class="tab row">
      <div class="tab__title grid width--f2 active js-tab-title">
	<span class="ion-ios-paper-outline"></span>
	全部订单
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待付款
	<div class="trolley__count">4</div>
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待发货
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待收货
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待评价
      </div>
    </section>
  </div>

  <section class="">
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有订单", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有订单需要付款", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有待发货订单", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有待收货订单", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有待评价订单", icon("ion-ios-menu"))}}
    </div>
  </section>
</main>

<!--
    {{popupSmall("您是否收到该订单商品？", "未收货", "已收货")}}
-->
{% endblock %}

{% block scripts %}
<script src="jquery.min.js"></script>
<script src="tab.js"></script>
<script src="order.js"></script>
{% endblock %}
