{#

订单详情

#}


{% extends "templates/application.html" %}
{% from "ysd/_order.html" import invoice, statistical, orderBlockHeaderDate, orderBlockFooter, orderItem, orderBlock %}

{% block content %}
<div class="topbar">
  <section class="tab row">
    <div class="tab__title grid width--f2 active">
      <span class="ion-ios-paper-outline"></span>
      全部订单
    </div>
    <div class="tab__title grid width--f2">
      待付款
      <div class="trolley__count">4</div>
    </div>
    <div class="tab__title grid width--f2">
      待发货
    </div>
    <div class="tab__title grid width--f2">
      待收获
    </div>
    <div class="tab__title grid width--f2">
      待评价
    </div>
  </section>
</div>

<main class="tab-pad">
  <section class="tab__content">
  {% set header=orderBlockHeaderDate("标准产品", "2016-03-20 10:10", "待评价")%}
  {% set item=orderItem("一撕得7号箱", "100", "600", "整箱发货", "100.00", "6", "666.66", pic="/images/box-12.png") %}
  {% set footer=orderBlockFooter("2", "100.00", "50.00")%}

  {{orderBlock(header, [item, item], footer)}}
  {{orderBlock(header, [item, item], footer)}}
  {{orderBlock(header, [item, item], footer)}}
  </section>
</main>
{% endblock %}
