{#

订单详情

#}


{% extends "templates/application.html" %}
{% from "ysd/_order.html" import orderState1, orderState2, orderState3, orderState4, orderState5, orderState6, orderInfo, orderBlockHeaderDateOnly, orderBlockFooterOnly, orderItem, orderBlock %}
{% from "ysd/_button.html" import buttonBorder %}

{% block content %}
<main class="footer-pad">
  <section class="card">
    <div class="list-row list-pad-x-1">
      <section class="list-control">
	<div class="list-pad-y-1">
	  <div class="list-mar-1">
	    订单状态：
	    <span class="text-secondary">待付款</span>
	  </div>
	  <div class="list-mar-1">
	    订单金额：
	    <span class="text-primary">￥</span>
	    <span class="text-primary">2660.00</span>
	  </div>
	  <div class="">
	    订单编号：
	    <span class="">DD16516516644</span>
	  </div>
	</div>
      </section>
    </div>

    {{orderState1("2", "120", "00")}}
    {{orderState2("2016-05-16 10：00")}}
    {{orderState3("2016-05-16 10：00")}}
    {{orderState4()}}
    {{orderState5()}}
    {{orderState6()}}
  </section>

  <section class="card">
    {{orderInfo("配送地址", "刘易斯 15525019350", "ion-ios-pin-outline", "北京市丰台星火路11号写字公园2018")}}
    {{orderInfo("发票信息", "发票抬头：北京一撕得物流技术有限公司", "ion-ios-paper-outline")}}
  </section>

  {% set header=orderBlockHeaderDateOnly("标准产品", "2016-03-20 10:10")%}
  {% set item=orderItem("一撕得7号箱", "100", "600", "整箱发货", "100.00", "6", "666.66", pic="../images/box-12.png") %}
  {% set footer=orderBlockFooterOnly("2", "100.00", "50.00")%}

  {{orderBlock(header, [item, item], footer)}}

</main>

<footer>
  <div class="footer">
    <div class="order-detail-footer">
      {{buttonBorder("再次购买", "add")}}
      {{buttonBorder("评价", "submit", true)}}
    </div>
  </div>
</footer>
{% endblock %}
