{#

订单详情

#}


{% extends "templates/application.html" %}
{% from "ysd/_order.html" import orderState1, orderState2, orderState3, orderState4, orderState5, orderState6, orderInfo, orderBlockHeaderDateOnly, orderBlockFooterOnly, orderItem, orderBlock %}
{% from "ysd/_button.html" import buttonBorder %}

{% block content %}
<main>
  <section class="card">
    <div class="list-pad">
      <div class="row">
        <div class="grid width--3 list-pad-y-1">
	        <div class="text-center">
	          <section class="list-mar-0d5">
              <div class="image-box">
	              <img src="/images/box-2-2x.png" width="64">
              </img>
              <footer class="img-footer">
                2件
              </footer>
              </div>
	          </section>
	        </div>
        </div>
        <div class="grid width--9  list-pad-y-1">
          <div class="list-pad-x-1">
            <div class="list-pad-y-1">
	            <span>物流状态</span>
	            <span class="text-primary">包裹发往调拨中心</span>
            </div>
            <small>
              <div class="list-mar-0d5">
                <span>运单号：</span>
                <span>5681648646582</span>
              </div>
              <div class="list-mar-0d5">
                <span>信息来源：</span>
                <span>中通快递</span>             
              </div>
            </small>
          </div>
	      </div>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="list-row list-pad-x-1">
      <section class="list-control">
        <div class="list-pad-y-1">
          <span>物流跟踪</span>
        </div>
      </section>
    </div>
    <div class="order-pad">
      <div class="list-row list-pad-x-1">
        <section class="list-control">
          <div class="list-pad-y-1">
            <div class="list-mar-0d5">
	            <span class="text-primary">【北京市】</span>
	            <span class="text-primary">北京市内部</span>
              <span class="text-primary">已发出</span>
	          </div>
            <div class="list-mar-0d5">
	            <span class="text-primary">2016-06-21  00:40:09</span>
	          </div>
          </div>
        </section>
      </div>
      <div class="list-row list-pad-x-1">
        <section class="list-control">
          <div class="list-pad-y-1">
            <div class="list-mar-0d5">
	            <span>【上海市】</span>
	            <span>中通快递 青浦金泽收件员</span>
              <span>正揽件</span>
	          </div>
            <div class="list-mar-0d5">
	            <span>2016-06-21  00:40:09</span>
	          </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</main>
{% endblock %}
