{#

我的订单

#}


{% extends "templates/application.html" %}
{% from "ysd/_order.html" import
invoice,statistical, orderBlockHeaderDate,
orderBlockFooter, orderItem, orderBlock,
icon, noBlock
%}
{% from "ysd/_button.html" import buttonBorder %}
{% from "ysd/_popup.html" import popupSmall %}

{% set header=orderBlockHeaderDate("标准产品", "2016-03-20 10:10", "待评价")%}
{% set item=orderItem("一撕得7号箱", "100", "600", "整箱发货", "100.00", "6", "666.66", pic="../images/box-12.png") %}
{% set btn1=buttonBorder("查看物流", "add") %}
{% set btn2=buttonBorder("再次购买", "add") %}
{% set btn3=buttonBorder("评价", "submit", true) %}
{% set btn4=buttonBorder("确认收货", "submit", true) %}
{% set btn5=buttonBorder("催单", "submit", true) %}
{% set btn6=buttonBorder("立即支付", "submit", true) %}
{% set footer1=orderBlockFooter(num="2", price="100.00", price1="50.00", buttons=[btn1, btn2, btn3])%}
{% set footer2=orderBlockFooter(num="2", price="100.00", price1="50.00", buttons=[btn5])%}
{% set footer3=orderBlockFooter(num="2", price="100.00", price1="50.00", buttons=[btn1, btn4])%}
{% set footer4=orderBlockFooter(num="2", price="100.00", price1="50.00", buttons=[btn6])%}

{% block content %}

<main class="tab-pad js-tab">
  <div class="topbar">
    <section class="tab row">
      <div class="tab__title grid width--f2 active js-tab-title">
	<span class="ion-ios-paper-outline"></span>
	全部订单
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待付款
	<div class="trolley__count">4</div>
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待发货
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待收货
      </div>
      <div class="tab__title grid width--f2 js-tab-title">
	待评价
      </div>
    </section>
  </div>

  <section class="">
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有订单", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有订单需要付款", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有待发货订单", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有待收货订单", icon("ion-ios-menu"))}}
    </div>
    <div class="tab__content js-tab-content">
      {{noBlock("目前没有待评价订单", icon("ion-ios-menu"))}}
    </div>
  </section>
</main>

<!--
    {{popupSmall("您是否收到该订单商品？", "未收货", "已收货")}}
-->
{% endblock %}

{% block scripts %}
<script src="jquery.min.js"></script>
<script src="tab.js"></script>
<script src="order.js"></script>
{% endblock %}
