{#

修改密码

#}


{% extends "templates/application.html" %}
{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_form.html" import field %}

{% block content %}
<main>
  <div class="card">
    {{field("原始密码", type="password", name="oldpwd")}}
    {{field("密码", type="password", name="pwd")}}
    {{field("确认密码", type="password", name="repwd")}}
  </div>

  <div class="bottom-btn">
    {{buttonBlock("确定", "ok")}}
  </div>
</main>
{% endblock %}


{% block scripts %}
<script src="jquery.min.js"></script>
<script src="validate.js"></script>
<script src="password.js"></script>
{% endblock %}
