{% extends "templates/application.html" %}

{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import field %}


{#

修改密码

#}

{% block content %}
<!-- Main -->
<main>
  
  <div class="card">
    {{field("原始密码", type="password")}}
    {{field("密码", type="password")}}
    {{field("确认密码", type="password")}}
  </div>

  <div class="bottom-btn">
    {{buttonBlock("确定", "ok")}}
  </div>

</main>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}
