{#

在线支付成功

#}


{% extends "templates/application.html" %}
{% from "ysd/_button.html" import buttonBorder %}
{% from "ysd/_pay.html" import pay %}

{% block content %}
<main>
  <section class="list-pad-y-1 text-center text-primary">
    <div class="list-mar-0d5">
      <span class="ion-ios-checkmark-circle pay-ic"></span>
    </div>
    <div>
      支付成功
    </div>
  </section>

  {{pay("660.00", "刘一撕", "15525019350", "北京市丰台区星火路11号写字公园2018")}}

  <section class="list-mar-1 text-center pay-btngroup">
    {{buttonBorder("查看订单", "submit", true, true, "order.html")}}
    {{buttonBorder("返回首页", "submit", true, true, "home.html")}}
  </section>
</main>
{% endblock %}
