{#

在线支付

#}


{% extends "templates/application.html" %}
{% from "ysd/_list-row.html" import oneLineLink %}
{% from "ysd/_pay.html" import pay %}

{% block content %}
<main>
  {{pay("660.00", "刘一撕", "15525019350", "北京市丰台区星火路11号写字公园2018", "2015-05-10")}}

  <section class="list-mar-1">
    <div class="list-row list-pad-x-1 row">
      <div class="grid">
        请选择支付方式
      </div>
      <div class="grid list-pad-x-1">
        <div class="text-primary text-small list-pad-y-0d25">
          请在120分钟内完成支付
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    {{oneLineLink("微信支付", "pay-ok.html", img="../images/wx.png")}}
  </section>
</main>
{% endblock %}
