{% extends "templates/application.html" %}

{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import order %}
{% from "ysd/_footer.html" import footerCar, footerCarEdit %}


{#

购物车

#}

{% block content %}
<!-- Main -->
<main class="footer-pad">

  <section class="text-right">
    <div class="list-pad-1 text-primary js-edit" id="edit">完成</div>
  </section>

  {{order("标准产品", "666666", name="all1", radio=true)}}
  {{order("标准产品", "666666", name="all1", radio=true)}}

  {#
  {{footerCar("660.00", "2")}}
  #}
  {{footerCarEdit("all")}}

</main>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}
