{% extends "templates/application.html" %}

{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import order %}


{#

购物车

#}

{% block content %}
<!-- Main -->
<main>

  {{order("标准产品", "666666", name="all1", radio=true)}}

  <footer>
    <div class="footer row">
      <div class="grid width--2 footer__block footer__block--left footer__icon">
	
      </div>
      <div class="grid width--6 footer__block footer__block--left footer__text">
	合计:<span class="text-primary">￥</span><span class="text-primary js-price">660.00</span>
      </div>
      <div class="grid width--4 footer__block footer__block--right footer__button">
	<button type="button" class="button button-block js-submit">
          结算
	</button>
      </div>
    </div>
  </footer>

</main>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="index.css" />
{% endblock %}
