{#

购物车

#}


{% extends "templates/application.html" %}
{% from "ysd/_button.html" import buttonBlock %}
{% from "ysd/_list-row.html" import order %}
{% from "ysd/_footer.html" import footerCar, footerCarEdit %}

{% block content %}
<main class="footer-pad">
  <section class="text-right">
    <div class="list-pad-1 text-primary js-btn">编辑全部</div>
  </section>

  <div class="js-container"></div>

  {#
  <section class="js-default">
    {{order("标准产品", "666666", name="all1")}}
  </section>
  <section class="js-edit">
    {{order("标准产品", "666666", name="all1", radio=true)}}
  </section>
  #}

  <section class="js-footer">
    <footer class="js-edit">
      {{footerCar("660.00", "2", true)}}
    </footer>
    <footer class="js-default">
      {{footerCarEdit("all")}}
    </footer>
  </section>
</main>
{% endblock %}


{% block scripts %}
<script src="jquery.min.js"></script>
<script src="counter.js"></script>
<script src="shoppingcar.js"></script>
{% endblock %}
