{#

标准箱_加入购物车

#}


{% extends "templates/application.html" %}
{% from "ysd/_counter.html" import counter %}
{% from "ysd/_list-row.html" import oneLineLink %}
{% from "ysd/_pay.html" import pay %}

{% block content %}
<main class="main-box">
  <div class="row">
    <div class="grid-right">
      <div class="close-btn">X</div>
    </div>
  </div>

  <div class="">
    <div class="text-center">
      <img src="/images/box-2-2x.png" width="128">
    </div>
  </div>

  <div class="list-pad-y-1">
	  <div class="list-mar-1 text-center">
	    <span>一撕得7号箱</span>
	  </div>
	  <div class="list-mar-1 text-center">
	    <span class="text-primary">￥100.00/箱</span>
	    <span>100个/箱，</span>
	    <span>￥1.00/个</span>
	  </div>
	  <div class="list-mar-1 text-center">
	    <span>尺寸(内径)：</span>
	    <span>100x200x300mm</span>
    </div>
	</div>

  <footer class="main-box-footer">
    <div class="list-mar-1 big--015e1">
      {{counter()}}
    </div>

    <div class="list-mar-1 text-center">
      <span>共</span>
      <span class="text-primary">800</span>
      <span>个</span>
    </div>
    <div class="btn-append-shoppingcar">
      <div class="button-block">
        加入购物车
      </div>
    </div>
  </footer>
  <!--<div class="list-control">---</div>
  <div class="list-control">---</div>
  <div class="list-control">---</div>

  
  {{counter()}}
  {{pay("660.00", "刘一撕", "15525019350", "北京市丰台区星火路11号写字公园2018", "2015-05-10")}}

  <section class="list-mar-1">
    <div class="list-row list-pad-x-1 row">
      <div class="grid">
        请选择支付方式
      </div>
      <div class="grid list-pad-x-1">
        <div class="text-primary text-small list-pad-y-0d25">
          请在120分钟内完成支付
        </div>
      </div>
    </div>
  </section>

  <section class="card">
    {{oneLineLink("微信支付", "#", img="/images/wx.png")}}
  </section>-->
</main>
{% endblock %}


{% block scripts %}
<script src="jquery.min.js"></script>
<script src="counter.js"></script>
<script src="standard-append-shoppingcar.js"></script>
{% endblock %}
