{#

标准箱 购买

#}


{% extends "templates/application.html" %}
{% from "ysd/_counter.html" import counter %}
{% from "ysd/_list-row.html" import oneLineLink %}
{% from "ysd/_pay.html" import pay %}

{% block content %}
<main class="main-box">
  <div class="row">
    <div class="grid-right">
      <a href="goods.html">
	<div class="close-btn">X</div>
      </a>
    </div>
  </div>

  <div class="">
    <div class="text-center">
      <img src="../images/box-2-2x.png" width="128">
    </div>
  </div>

  <div class="list-pad-y-1">
    <div class="list-mar-1 text-center">
      <span>一撕得7号箱</span>
    </div>
    <div class="list-mar-1 text-center">
      <span class="text-secondary">￥100.00/箱</span>
      <span class="js-num">100</span><span>个/箱，</span>
      <span>￥1.00/个</span>
    </div>
    <div class="list-mar-1 text-center">
      <span>尺寸(内径)：</span>
      <span>100x200x300mm</span>
    </div>
  </div>

  <footer class="main-box-footer">
    <div class="list-mar-1 big--015e1">
      {{counter()}}
    </div>

    <div class="list-mar-1 text-center">
      <span>共</span>
      <span class="text-secondary js-sum">800</span>
      <span>个</span>
    </div>
    <div class="btn-append-shoppingcar">
      <a class="button-block button--red" href="goods.html">
        马上购买
      </a>
    </div>
  </footer>
</main>
{% endblock %}


{% block scripts %}
<script src="jquery.min.js"></script>
<script src="counter.js"></script>
<script src="standard-append-shoppingcar.js"></script>
{% endblock %}
