////
/// Form element.
///
/// 表单元素
////


.field {
    @include reset-box();
    @include reset-font();
    @include reset-theme();
    @include border-box-padding(0.8rem 0rem);
    
    min-width: 6rem;
    width: 100%;
    line-height: $global-line-height;
}

.field__label {
    display: inline-block;
    position: relative;
}

.field-block {
    display: block;
}


.field__icon {
    @include fill(l, false);
    @include size(1rem, 2rem);
    @include border-box-padding(0.5rem 0);
    display: inline-block;
    text-align: center;
    .ic {
	line-height: $global-line-height;
    }
}

.field-border {
    border-bottom: 1px solid $color-gray-ll;
}


.field-area {
    resize: none;
    min-height: 2rem;
}

.file {
    display: none;
}
